.btn {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.btn-leer {
  background-color: blue;
  color: lightblue;
}
.btn-leer:hover {
  background-color: lightblue;
  color: blue;
}
.btn-actualizar {
  background-color: green;
  color: lightgreen;
}
.btn-actualizar:hover {
  background-color: lightgreen;
  color: green;
}
.btn-eliminar {
  background-color: salmon;
  color: pink;
}
.btn-eliminar:hover {
  background-color: pink;
  color: salmon;
}
.no-mostrar {
  display: none;
}
